<nav id="navbar-example2" class="navbar  px-3 mb-3" style="background-color:rgba(39,46,86,255)">
  <img src="assets\img\logo_ista.png" style="width: 5%;">
    <h1 class="navbar-brand" href="#" style="color: aliceblue;">Administrador</h1>
    <h1  class="navbar-brand" href="#" style="color: aliceblue;">Evaluador</h1>
    <h1  class="navbar-brand" href="#" style="color: aliceblue;">Monitor</h1 >
    <h1  class="navbar-brand" href="#" style="color: aliceblue;">Colaborador</h1 >
    <ul class="nav nav-pills">

      <li class="nav-item dropdown">
        <h1  class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" style="color: aliceblue;">Juan Perez <img src="assets\img\user_icon-icons.com_66546.png" alt=""style="width: 15%;"></h1 >
        <ul class="dropdown-menu"style="background-color: gray;">
          <li><a class="dropdown-item" href="#scrollspyHeading3" style="background-color: gray;" [routerLink]="['/confiusuario']">Perfil</a></li>
          <li><a class="dropdown-item" href="#scrollspyHeading4">Cerrar Sesion</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <br>
  <h4 style="color:black ;margin-top: 5px;margin-left: 550px;"> LISTADO DE PERSONAS</h4>
 
  <br>
  <div>
    <div class="row">
      <div class="col-6">
        <button style="margin-left:200px ;margin-bottom: 40px ;margin-right: 200px; color:white;background-color: #D9CF37; border-radius: 7px; border-color: transparent;"(click)="openPopup()">  +NUEVA PERSONA</button>
      </div>
      <div class="col-6">
        <div class="input-group">
          <div >
            <input type="search" id="form1" class="form-control" style="margin-left:200px ;" placeholder="Buscar Usuario"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-striped" style="position: absolute;">
    <thead>
      <tr>
        
        <th >Cedula</th>
        <th>Nombre</th>
        <th >Apellido</th>
        <th >Direccion</th>
        <th>Correo</th>
        <th >Editar</th>
        <th >Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let persona of personas">
          
        <th scope="row">1</th>
        <!--<td>{{persona.idpersona}}</td>-->
        <td>{{persona.cedula}}</td>
        <td>{{persona.nombre}}</td>
        <td>{{persona.apellido}}</td>
        <td>{{persona.email}}</td>
      <!--<td>{{persona.telefono}}</td>-->
        <!--<td>{{persona.fecha_nacimiento}}</td>-->
        
        <td><div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
          </label>
        </div></td>
        <td></td>
        
        
        <td><button type="button" style="border: transparent;background-color: transparent;"(click)="openPopup2()"><img src="assets\img\editar.png" alt="" style="width:30px;height:30px;"></button></td>
        <td><button type="button"style="border: transparent;background-color: transparent;" (click)="openPopup3()"><img src="assets\img\cubo-de-basura.png" alt=""style="width:30px;height:30px;"></button></td>

      </tr>

      <!--
      <tr *ngFor="let persona of personas">
        <th scope="row">2</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

        <td><button type="button" style="border: transparent;background-color: transparent;"><img src="assets\img\editar.png" alt="" style="width:30px;height:30px;"></button></td>
        <td><button type="button"style="border: transparent;background-color: transparent;" ><img src="assets\img\cubo-de-basura.png" alt=""style="width:30px;height:30px;"></button></td>
      </tr>
      <tr *ngFor="let persona of personas">
        <th scope="row">2</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
 
        <td><button type="button" style="border: transparent;background-color: transparent;"><img src="assets\img\editar.png" alt="" style="width:30px;height:30px;"></button></td>
        <td><button type="button"style="border: transparent;background-color: transparent;" ><img src="assets\img\cubo-de-basura.png" alt=""style="width:30px;height:30px;"></button></td>
      </tr>
      <tr *ngFor="let persona of personas">
        <th scope="row">3</th>
        <td colspan="2"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

        <td><button type="button" style="border: transparent;background-color: transparent;"><img src="assets\img\editar.png" alt="" style="width:30px;height:30px;"></button></td>
        <td><button type="button"style="border: transparent;background-color: transparent;" ><img src="assets\img\cubo-de-basura.png" alt=""style="width:30px;height:30px;"></button></td>
      </tr>
      <tr *ngFor="let persona of personas">
        <th scope="row">4</th>
        <td colspan="2"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

        <td><button type="button" style="border: transparent;background-color: transparent;"><img src="assets\img\editar.png" alt="" style="width:30px;height:30px;"></button></td>
        <td><button type="button"style="border: transparent;background-color: transparent;" ><img src="assets\img\cubo-de-basura.png" alt=""style="width:30px;height:30px;"></button></td>
      </tr>
      <tr *ngFor="let persona of personas">
        <th scope="row">5</th>
        <td colspan="2"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

        <td><button type="button" style="border: transparent;background-color: transparent;"><img src="assets\img\editar.png" alt="" style="width:30px;height:30px;"></button></td>
        <td><button type="button"style="border: transparent;background-color: transparent;" ><img src="assets\img\cubo-de-basura.png" alt=""style="width:30px;height:30px;"></button></td>
      </tr>
      <tr *ngFor="let persona of personas">
        <th scope="row">6</th>
        <td colspan="2"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

        <td><button type="button" style="border: transparent;background-color: transparent;"><img src="assets\img\editar.png" alt="" style="width:30px;height:30px;"></button></td>
        <td><button type="button"style="border: transparent;background-color: transparent;" ><img src="assets\img\cubo-de-basura.png" alt=""style="width:30px;height:30px;"></button></td>
      </tr>
-->
    </tbody>
  </table>
  <img src="assets\img\logoista_opaco.png" style="height: 25%;width: 25%; margin-top:30px ;margin-left: 25px; position: relative;">
  











<script>
        
</script>















<div
class="modal"
role="dialog"
[ngStyle]="{'display':displayStyle}">
<div>
  <div class="crear">
    <form id="formulario">

      <!-- *ngIf="(ngSubmit)="""  investigar para obligario de campos-->
    <h3 class="titulo"> Nueva Persona </h3>
    <br>
    <img src="assets\img\user_icon-icons.com_66546.png" class="cara">
    <br>
    <label class="cedula1" >Cedula:</label>
    <input type="text" placeholder="Cedula" class="inputCedula1"
    id="Cedula"
    ondrop="return false;" onpaste="return false;" oncopy="return false" oncut="return false"
    oninput="this.value = this.value.replace(/[^0-9]/,'')"
    minlength="10" maxlength="10" required />

    <label class="Nombre1" >Nombre:</label>
    <input type="text" placeholder="Nombre" class="inputNombre1"
    id="Nombre" 
    ondrop="return false;" onpaste="return false;" oncopy="return false" oncut="return false"
    oninput="this.value = this.value.replace(/[^a-z A-Z]/,'')"
    minlength="0" maxlength="20" required />

    <label class="Apellido1" >Apellido:</label>
    <input type="text" placeholder="Apellido" class="inputApellido1"
    id="Apellido"
    ondrop="return false;" onpaste="return false;" oncopy="return false" oncut="return false"
    oninput="this.value = this.value.replace(/[^a-z A-Z]/,'')"
    minlength="0" maxlength="20" required />

    <label class="Direccion1" >Direccion:</label>
    <input type="text" placeholder="Direccion" class="inputDireccion1"
    id="Direccion"
    ondrop="return false;" onpaste="return false;" oncopy="return false" oncut="return false"
    oninput="this.value = this.value.replace(/[^a-z A-Z0-9]/,'')"
    minlength="0" maxlength="40" required="maximo 40 caracteres" />

    <label class="Correo1" >Correo:</label>
    <input type="text" placeholder="nombre@servicio.com" class="inputCorreo1"
    id="Correo"
    ondrop="return false;" onpaste="return false;" oncopy="return false" oncut="return false"
    oninput="this.value = this.value.replace(/[^a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z]+([.][a-zA-Z])/,'')"
    minlength="0" maxlength="30" required />
    
    
<!--
      <input class="aceptar" type="submit" value="aceptar" >
      <input class="cancelar" type="reset" value="cancelar" (click)="closePopup()">
-->
    
    <button class="aceptar" (click)="openPopup4()">ACEPTAR</button>
    <button class="cancelar" id="limpiar" (click)="closePopup()">CANCELAR</button>
     
  </form>

  

  </div>
</div>

   
</div>







<div
class="modal"
role="dialog"
[ngStyle]="{'display':displayStyle2}">
<div >
  <div class="crear">
    <h3 class="titulo"> Editar Persona </h3>
    <br>
    <img src="assets\img\user_icon-icons.com_66546.png" class="cara">
    <br>
    <input type="text" disabled placeholder="Cedula" class="inputCedula2" value="0979272404"> 
    <br>
    <hr class="separador">
    <label class="Nombre" >Nombre:</label>
    <input type="text" placeholder="Nombre" class="inputNombre"
    id="Nombre"
    ondrop="return false;" onpaste="return false;" oncopy="return false" oncut="return false"
    oninput="this.value = this.value.replace(/[^a-z A-Z]/,'')"
    minlength="2" maxlength="20" required />

    <label class="Apellido" >Apellido:</label>
    <input type="text" placeholder="Apellido" class="inputApellido"
    id="Apellido"
    ondrop="return false;" onpaste="return false;" oncopy="return false" oncut="return false"
    oninput="this.value = this.value.replace(/[^a-z A-Z]/,'')"
    minlength="2" maxlength="20" required />

    <label class="Direccion" >Direccion:</label>
    <input type="text" placeholder="Direccion" class="inputDireccion"
    id="Direccion"
    ondrop="return false;" onpaste="return false;" oncopy="return false" oncut="return false"
    oninput="this.value = this.value.replace(/[^a-z A-Z0-9]/,'')"
    minlength="5" maxlength="40" required />

    <label class="Correo" >Correo:</label>
    <input type="text" placeholder="Correo" class="inputCorreo"
    id="Correo"
    ondrop="return false;" onpaste="return false;" oncopy="return false" oncut="return false"
    oninput="this.value = this.value.replace(/[^a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z]+([.][a-zA-Z])/,'')"
    minlength="10" maxlength="30" required />
    
    
    <button class="aceptar2" (click)="openPopup4()">ACEPTAR</button>
    <button class="cancelar2 " (click)="closePopup2()">CANCELAR</button>
     

    </div>
    </div>
</div>


  


<div
class="modal"
role="dialog"
style="margin-top:300px ;margin-left: 350px ;"
[ngStyle]="{'display':displayStyle3}">
<div >
  <div class="eliminar">
    <br>
<img src="assets\img\018-advertencia.png" class="advertencia">

<h3 class="seguro">¿Está seguro que desea eliminar esta persona?</h3>

<button class="eliminarbtn">ELIMINAR</button>
<button class="cancelar2"(click)="closePopup3()">CANCELAR</button>
</div>
    </div>
</div>



<div
class="modal"
role="dialog"
style="margin-top:300px ;margin-left: 350px ;"
[ngStyle]="{'display':displayStyle4}">
<div >
  <div class="confirmarGuardado">
    <br>
<img src="assets\img\018-advertencia.png" class="advertencia2">

<h3 class="seguro1">¿Está seguro de guardar los datos?</h3>

<button class="confirmar">CONFIRMAR</button>
<button class="cancelar2"(click)="closePopup4()">CANCELAR</button>
</div>
    </div>
</div>
 