<nav id="navbar-example2" class="navbar  px-3 mb-3" style="background-color:rgba(39,46,86,255)">
    <img src="assets\img\logo_ista.png" style="width: 5%;">
      <h1 class="navbar-brand" href="#" style="color: aliceblue; margin-right: 700px;">Administrador</h1>
      <ul class="nav nav-pills">
        <li class="nav-item dropdown">
          <h1  class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" style="color: aliceblue;">Juan Perez <img src="assets\img\user_icon-icons.com_66546.png" alt=""style="width: 15%;"></h1 >
          <ul class="dropdown-menu"style="background-color: gray;">
            <li><a class="dropdown-item" href="#scrollspyHeading3" style="background-color: gray;" [routerLink]="['/confiusuario']">Perfil</a></li>
            <li><a class="dropdown-item" href="#scrollspyHeading4">Cerrar Sesion</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <br>
    <h2 class="tit">   LISTADO DE USUARIOS   </h2>
   
    <br>
    <div>
      <div class="row">
        <div class="col-6">
          <button type="button" class="custom-btn btn-15"(click)="openPopup()">  +NUEVO USUARIO</button>
        </div>
        <div class="col-6">
          <div class="input-group">
            <div >
              <input type="search" id="form1" class="form-control" style="margin-left:200px ;" placeholder="Buscar Usuario"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-striped" style="position: absolute;">
      <thead>
        <tr>
          <th >N°</th>
          <th >Cedula</th>
          <th >Usuario</th>
          <th >Rol</th>
          <th >Editar</th>
          <th >Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            
          <th scope="row">1</th>
          <td></td>
          <td></td>
          <td><div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
            </label>
          </div></td>

          
          <td><button type="button" style="border: transparent;background-color: transparent;"(click)="openPopup2()"><img src="assets\img\editar.png" alt="" style="width:30px;height:30px;"></button></td>
          <td><button type="button"style="border: transparent;background-color: transparent;" (click)="openPopup3()"><img src="assets\img\cubo-de-basura.png" alt=""style="width:30px;height:30px;"></button></td>
  
        </tr>
        <tr>
          <th scope="row">2</th>
          <td></td>
          <td></td>
          <td></td>

          <td><button type="button" style="border: transparent;background-color: transparent;"><img src="assets\img\editar.png" alt="" style="width:30px;height:30px;"></button></td>
          <td><button type="button"style="border: transparent;background-color: transparent;" ><img src="assets\img\cubo-de-basura.png" alt=""style="width:30px;height:30px;"></button></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td></td>
          <td></td>
          <td></td>
   
          <td><button type="button" style="border: transparent;background-color: transparent;"><img src="assets\img\editar.png" alt="" style="width:30px;height:30px;"></button></td>
          <td><button type="button"style="border: transparent;background-color: transparent;" ><img src="assets\img\cubo-de-basura.png" alt=""style="width:30px;height:30px;"></button></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2"></td>
          <td></td>
 
          <td><button type="button" style="border: transparent;background-color: transparent;"><img src="assets\img\editar.png" alt="" style="width:30px;height:30px;"></button></td>
          <td><button type="button"style="border: transparent;background-color: transparent;" ><img src="assets\img\cubo-de-basura.png" alt=""style="width:30px;height:30px;"></button></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td colspan="2"></td>
          <td></td>

          <td><button type="button" style="border: transparent;background-color: transparent;"><img src="assets\img\editar.png" alt="" style="width:30px;height:30px;"></button></td>
          <td><button type="button"style="border: transparent;background-color: transparent;" ><img src="assets\img\cubo-de-basura.png" alt=""style="width:30px;height:30px;"></button></td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td colspan="2"></td>
          <td></td>

          <td><button type="button" style="border: transparent;background-color: transparent;"><img src="assets\img\editar.png" alt="" style="width:30px;height:30px;"></button></td>
          <td><button type="button"style="border: transparent;background-color: transparent;" ><img src="assets\img\cubo-de-basura.png" alt=""style="width:30px;height:30px;"></button></td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td colspan="2"></td>
          <td></td>

          <td><button type="button" style="border: transparent;background-color: transparent;"><img src="assets\img\editar.png" alt="" style="width:30px;height:30px;"></button></td>
          <td><button type="button"style="border: transparent;background-color: transparent;" ><img src="assets\img\cubo-de-basura.png" alt=""style="width:30px;height:30px;"></button></td>
        </tr>
  
      </tbody>
    </table>
    <img src="assets\img\logoista_opaco.png" style="height: 25%;width: 25%; margin-top:30px ;margin-left: 25px; position: relative;">
    



























  <div
  class="modal"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div >
    <div class="crear">
      <h3 class="titulo"> Nuevo Usuario </h3>
      <br>
      <img src="assets\img\015-cuaderno.png" class="cuaderno">
      <br>
      <label class="cedula" >Cedula:</label>
      <input type="text" placeholder="Cedula" class="inputCedula">
      <label class="Nombre">Juanito Perez</label>
      <br>
      <hr class="separador">
      <label class="usuario" >Usuario:</label>
      <input type="text" placeholder="Usuario" class="inputUsuario">
      <label class="rol" >Roles:</label>
      <input class="checkbox" type="checkbox">
      <input class="checkbox1" type="checkbox">
      <input class="checkbox2" type="checkbox">
      <input class="checkbox3" type="checkbox">
      
      <label class="contrasenia" >Contraseña:</label>
      <input type="password" placeholder="Contraseña" class="inputContraseña">
      
      <label class="repetircontrasenia" >Repetir <br> Contraseña :</label>
      <input type="password" placeholder="Contraseña" class="inputRepetir">
      
      <button class="aceptar" (click)="openPopup4()">ACEPTAR</button>
      <button class="cancelar" (click)="closePopup()">CANCELAR</button>
       

      </div>
      </div>

     
  </div>







  <div
  class="modal"
  role="dialog"
  [ngStyle]="{'display':displayStyle2}">
  <div >
    <div class="editar">
      <h3 class="titulo"> Editar Usuario </h3>
      <br>
      <img src="assets\img\017-editar-1.png" class="cuaderno">
      <br>
      <label class="cedula" >Cedula:</label>
      <input type="text" placeholder="Cedula" class="inputCedula" value="0150144079">
      <label class="Nombre">Maria Peña</label>
      <br>
      <hr class="separador">
      <label class="usuario" >Usuario:</label>
      <input type="text" placeholder="Usuario" class="inputUsuario" value="Pepe Perez">
      <label class="rol" >Roles:</label>
      <input class="checkbox" type="checkbox">
      <input class="checkbox1" type="checkbox">
      <input class="checkbox2" type="checkbox">
      <input class="checkbox3" type="checkbox">
      
      <label class="contrasenia" >Contraseña:</label>
      <input type="password" placeholder="Contraseña" class="inputContraseña" value="admin1234">
      
      <label class="repetircontrasenia" >Repetir <br> Contraseña :</label>
      <input type="password" placeholder="Contraseña" class="inputRepetir" value="admin1234">
      
      <button class="aceptar" (click)="openPopup4()">ACEPTAR</button>
      <button class="cancelar" (click)="closePopup2()">CANCELAR</button>
  
  </div>
      </div>
  </div>


    


  <div
  class="modal"
  role="dialog"
  style="margin-top:300px ;margin-left: 350px ;"
  [ngStyle]="{'display':displayStyle3}">
  <div >
    <div class="eliminar">
      <br>
  <img src="assets\img\018-advertencia.png" class="advertencia">
  
  <h3 class="seguro">¿Está seguro que desea eliminar este usuario?</h3>
  
  <button class="eliminarbtn">ELIMINAR</button>
  <button class="cancelar2"(click)="closePopup3()">CANCELAR</button>
  </div>
      </div>
  </div>



  <div
  class="modal"
  role="dialog"
  style="margin-top:300px ;margin-left: 350px ;"
  [ngStyle]="{'display':displayStyle4}">
  <div >
    <div class="confirmarGuardado">
      <br>
  <img src="assets\img\018-advertencia.png" class="advertencia2">
  
  <h3 class="seguro1">¿Está seguro de guardar los datos?</h3>
  
  <button class="confirmar">CONFIRMAR</button>
  <button class="cancelar2"(click)="closePopup4()">CANCELAR</button>
  </div>
      </div>
  </div>
   