
<img src="assets\img\logoLogin.png" style= "width: 45%; ;margin-top: 15px;margin-top: 50px;margin-left: 320px;">
<br>
<br>
<h3 style="color:black ;margin-top: 5px;margin-left: 460px;"> Vuelve a establecer tu contraseña</h3>

<br>
<div class="form-floating" style="margin-left:360px ; margin-right: 400px;">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
  
  
  
  ondrop="return false;" onpaste="return false;" oncopy="return false" oncut="return false"
  oninput="this.value = this.value.replace(/[^a-z A-Z0-9]/,'')"
  minlength="8" maxlength="10" required />




  <label for="floatingPassword">CONTRASEÑA</label>
</div>
<br>
<div class="form-floating" style="margin-left:360px ; margin-right: 400px;">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
  
  
  
  ondrop="return false;" onpaste="return false;" oncopy="return false" oncut="return false"
  oninput="this.value = this.value.replace(/[^a-z A-Z0-9]/,'')"
  minlength="8" maxlength="10" required />




  <label for="floatingPassword">REPETIR CONTRASEÑA</label>
</div>
<br>
<button style="margin-left:630px ; margin-right: 400px; color:azure;background-color: darkblue; border-radius: 7px; border-color: transparent;"[routerLink]="['/confirmacion']"> ENVIAR </button>
