<div>
    <nav id="navbar-example2" class="navbar  px-3 mb-3" style="background-color: rgba(39,46,86,255)">
        <img src="assets\img\logo_ista.png" style="width: 5%;">
        <a class="navbar-brand" href="#" style="color: aliceblue; margin-right:800px  ;"
            [routerLink]="['/admin']">Administrador</a>

        <ul class="nav nav-pills" style="position: relative;">

            <li class="nav-item dropdown">
                <h1 class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false" style="color: aliceblue;">Juan Perez <img
                        src="assets\img\user_icon-icons.com_66546.png" alt="" style="width: 15%;"></h1>
                <ul class="dropdown-menu" style="background-color: gray;">
                    <li><a class="dropdown-item" href="#scrollspyHeading3" style="background-color: gray;"
                            [routerLink]="['/confiusuario']">Perfil</a></li>
                    <li><a class="dropdown-item" href="#scrollspyHeading4" style="background-color: gray;">Cerrar
                            Sesion</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div style="position: absolute;margin-left: 100px;color: yellow;">
        <h4>___________________________________________</h4>
    </div>
    <div style="position: absolute;margin-left: 630px;margin-top: 8px;">
        <h4>MENÚ</h4>
    </div>
    <div style="position: absolute;margin-left: 800px;color: yellow;">
        <h4>___________________________________________</h4>
    </div>


    <br>
    <br>
    <br>
    <br>

    <button style="border-style: hidden;position: absolute; margin-left: 100px;background-color: darkgrey; "[routerLink]="['/usuario']" >
        <div>
            <h4 style="text-align: center;">USUARIO</h4>
        </div>
        <div>
            <img src="assets\img\Usuario_Menu.jpg" alt="" width="250px">
        </div>
    </button>

    <button style="border-style: hidden;position: absolute; margin-left: 400px;background-color: darkgrey;"[routerLink]="['/crearpersona']">
        <div>
            <h4 style="text-align: center;">PERSONA</h4>
        </div>
        <div>
            <img src="assets\img\pexels-fauxels-3183153.jpg" alt="" width="250px">
        </div>
    </button>

    <button style="border-style: hidden;position: absolute; margin-left: 695px;background-color: darkgrey;">
        <div>
            <h4 style="text-align: center;">PROYECTO</h4>
        </div>
        <div>
            <img src="assets\img\crear_proyecto.jpg" alt="" width="250px" height="166PX">
        </div>
    </button>

    <button style="border-style: hidden;position: absolute; margin-left: 986px;background-color: darkgrey;">
        <div>
            <h4 style="text-align: center;">SEGUIMIENTO</h4>
        </div>
        <div>
            <img src="assets\img\Seguimiento_Menu.webp" alt="" width="250px" height="166PX">
        </div>
    </button>

    <button style="border-style: hidden;position: absolute; margin-left: 250px;margin-top:240px;margin-bottom: 10px; background-color: darkgrey;">
        <div>
            <h4 style="text-align: center;">CARRERA</h4>
        </div>
        <div>
            <img src="assets\img\Carrera_Menu.jpg" alt="" width="250px" height="166PX">
        </div>
    </button>

    <button style="border-style: hidden;position: absolute; margin-left: 540px;margin-top:240px;margin-bottom: 10px; background-color: darkgrey;">
        <div>
            <h4 style="text-align: center;">ROLES</h4>
        </div>
        <div>
            <img src="assets\img\Roles_Menu.jpg" alt="" width="250px" height="166PX">
        </div>
    </button>

    <button style="border-style: hidden;position: absolute; margin-left: 830px;margin-top:240px;margin-bottom: 10px; background-color: darkgrey;">
        <div>
            <h4 style="text-align: center;">ACTIVIDADES</h4>
        </div>
        <div>
            <img src="assets\img\Actividades_Menu.jpg" alt="" width="250px" height="166PX">
        </div>
    </button>

    <div style="position: absolute;margin-left: 100px;color: yellow;margin-top:450px;">
        <h4>_____________________________________________________________________________________</h4>
    </div>
    <div style="position: absolute;margin-left: 800px;color: yellow;margin-top:450px;">
        <h4>___________________________________________</h4>
    </div>
   



</div>
